@import 'imports/reset'
@import 'imports/typography'

*
	box-sizing: border-box

body
	color: #212121
	min-height: 100vh


.wrapper
	width: 100%
	min-height: 100vh
	background-image: url('../img/bg-default.jpg')
	background-size: cover
	display: flex
	align-items: center
	justify-content: center


.content-column
	height: 100%
	display: inline-block
	float: left	


.half-width
	width: 50%


.no-empty
	padding: 70px 0 70px 70px


#map
	height: 100%
