html
	head
		title.
			VCard SPA
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Poppins:700")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/section-base.css")
	body
		.wrapper
			section.section-base
				.content-base
					.link.link-about 
						span.menu-btn(data-section="about") About
					h1.
						We are IT-agency from Ukraine
					p.description.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam amet officiis excepturi ipsam, maiores impedit.
					.form-holder
						form.notify-form
							.field-email
							button.submit-button Notify me
					.content-footer
						.footer-left
							p.copyright.
								&copy; Nazivin Studio
						.footer-right
							ul.footer-socials
								li.socials-fb
								li.socials-gp
								li.socials-ig
					.link.link-contact
						span.menu-btn(data-section="contact") Contact
