html
	head
		title.
			VCard SPA
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Poppins:700")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/section-base.css")
		link(rel="stylesheet", href="css/section-contact.css")
		link(rel="stylesheet", href="css/section-about.css")
		link(rel="stylesheet", href="css/portfolio.css")
	body
		.wrapper
			section.section-base
				.content-base
					.link.link-about.opener 
						span.menu-btn(data-section="about") About
					h1.
						We are IT-agency from Ukraine
					p.description.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam amet officiis excepturi ipsam, maiores impedit.
					.form-holder
						form.notify-form
							.field-email
							button.submit-button Notify me
					.content-footer
						.footer-left
							p.copyright.
								&copy; Nazivin Studio
						.footer-right
							ul.footer-socials
								li.socials-fb
								li.socials-gp
								li.socials-ig
					.link.link-contact.opener
						span.menu-btn(data-section="contact") Contact
				img.section-closer(src="img/close.png")
				.content-contact.hidden
					.content-column.scrollable.half-width.no-empty
						h2 Contact Us!
						p.description.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam amet officiis excepturi ipsam, maiores impedit.
						.contact-form
							.half-width.field-left
								input.field-contact-name(placeholder="Your Name, Please")
							.half-width.field-right
								input.field-contact-mail(placeholder="Your e-mail address")
							textarea.field-contact-message(placeholder="Write Your Message Here")
							button.submit-button Send
							.clear
						.contact-tips
							.tip.third-width
								img.tip-image(src="img/icon-map.jpg")
								br
								p.tip-label Address
								p.tip-contest.
									123 S. South Avenue Sydney Australia 1992
							.tip.third-width
								img.tip-image(src="img/icon-phone.jpg")
								br
								p.tip-label Phone
								p.tip-contest.
									8-800-123-456-789
									8-800-123-456-789
							.tip.third-width
								img.tip-image(src="img/icon-location.jpg")
								br
								p.tip-label E-mail
								p.tip-contest.
									test@email.test
									another@email.test
							.clear
						p.contact-outro.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					.content-column.half-width#map
				.content-about.hidden
					.content-column.half-width.scrollable
						h2 About Us!
						p.description.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sapiente tenetur provident dolor rem dolorem inventore.
						p.contest.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in

						h2.sub-heading Our Services
						.about-tips
							.tip.third-width
								img.tip-image(src="img/icon-location.jpg")
								br
								p.tip-label 01_Development
								p.tip-contest.
									Lorem ipsum dolor sit ametconsec tetur adipisicing
							.tip.third-width
								img.tip-image(src="img/icon-location.jpg")
								br
								p.tip-label 02_Optimisation
								p.tip-contest.
									Lorem ipsum dolor sit ametconsec tetur adipisicing
							.tip.third-width
								img.tip-image(src="img/icon-location.jpg")
								br
								p.tip-label 03_Integrations
								p.tip-contest.
									Lorem ipsum dolor sit ametconsec tetur adipisicing
							.clear
						h2.sub-heading Portfolio
						.portfolio
							.item.third-width
								img(src="img/portfolio-1.jpg", width="100%")
							.item.third-width
								img(src="img/portfolio-1.jpg", width="100%")
							.item.third-width
								img(src="img/portfolio-1.jpg", width="100%")
							.item.third-width
								img(src="img/portfolio-1.jpg", width="100%")
							.item.third-width
								img(src="img/portfolio-1.jpg", width="100%")
							.item.third-width
								img(src="img/portfolio-1.jpg", width="100%")
					.content-column.half-width.imgholder
						img(src="http://tortillastudio.com/wp-content/uploads/2016/05/laptop_room_on_the_desk_keyboard_mouse_apple_window_interior_73963_1600x1200.jpg")
		script(src="js/gmap.js")
		script(src="js/ui.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwJU4t7ZvGGVkdoqBBK7xvlED9CyK49qM&callback=initGmap")
