body
	font-size: 18px
	line-height: 1.5

h1, h2, button
	font-family: 'Poppins', sans-serif
	font-weight: 700

h1
	font-size: 70px
	line-height: 82px

p, span
	font-family: 'Inconsolata', sans-serif
	font-weight: 400
	margin: 0
